/* Секция "Особенности" */
.features {
  background-color: $body-default-background-color;
  padding-top: $section-padding-mobile;
  padding-bottom: $section-padding-mobile;
  @media screen and (min-width: $desktop) {
    padding-top: $section-padding-desktop;
    padding-bottom: $section-padding-desktop;
  }

  .features__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      flex-wrap: nowrap;
    }
  }
  .features__item {
    display: block;
    margin-top: 0;
    margin-bottom: 0px;
    max-width: 450px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: $tablet) {
      width: 354px;
      &:not(:nth-child(2n)) {
        margin-right: 30px;
      }
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: $desktop) {
      width: 270px;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  .features__title {
    @extend %title__header-h3;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width: $tablet) {
      text-align: left;
    }
  }
  .features__text {
    @extend %title__text;
    margin-top: 0;
    margin-bottom: 0;
  }
  .features__icon {
    width: 70px;
    height: 70px;
    fill: $body-default-header-color;
  }
  .features__view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    max-width: 450px;
    background: $body-light-background-color;
    border-radius: 4px;
    @media screen and (min-width: $tablet) {
      width: 354px;
    }
    @media screen and (min-width: $desktop) {
      width: 270px;
    }
  }
}
