/* Секция 'Постоянные клиенты' */

.clients {
  background-color: $body-default-background-color;
  padding-top: $section-padding-mobile;
  padding-bottom: $section-padding-mobile;
  @media screen and (min-width: $desktop) {
    padding-top: $section-padding-desktop;
    padding-bottom: $section-padding-desktop;
  }
  .clients__title {
    @extend %title__header-h2;
    margin-top: 0;
    margin-bottom: $section-title-padding-mobile;
    @media screen and (min-width: $desktop) {
      margin-bottom: $section-title-padding-desktop;
    }
  }
  .clients__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and (min-width: $desktop) {
      display: flex;
      flex-wrap: nowrap;
    }
  }
  .clients__item {
    @include animation(border-color);
    display: block;
    align-content: center;
    height: 90px;
    min-width: 170px;
    border: 1px solid $body-default-icon-color;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: red;
    width: calc((100% - 4 * 15px) / 2);
    margin: 0 15px 0 15px;
    &:hover,
    &:active,
    &:focus {
      border-color: $body-default-logo-color;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 0px;
    }
    @media screen and (min-width: $tablet) {
      width: calc((100% - 6 * 15px) / 3);
      margin: 0 15px 0 15px;
      background-color: yellow;
      margin-bottom: 0;
      &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
      }
    }
    @media screen and (min-width: $desktop) {
      background-color: green;
      width: calc((100% - 15 * 10px) / 6);
      margin-bottom: 0;
    }
  }

  .clients__icon {
    @include animation(fill);
    fill: $body-default-icon-color;
  }

  .clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 90px;
    &:hover .clients__icon,
    &:active .clients__icon,
    &:focus .clients__icon {
      fill: $body-default-logo-color;
    }
  }
}
