/* Меню для экранов $mobile */

.mmenu__menu-button {
  @media screen and (min-width: $tablet) {
    display: none;
  }
  z-index: 100;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  &:hover .mmenu__icon-menu,
  &:active .mmenu__icon-menu,
  &:focus .mmenu__icon-menu,
  &:hover .mmenu__icon-close,
  &:active .mmenu__icon-close,
  &:focus .mmenu__icon-close {
    fill: $body-default-logo-color;
  }
}
.mmenu__menu-container {
  z-index: 90;
  display: none;
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 0;
  text-align: center;
  background-color: $body-default-background-color;
  @media screen and (max-width: $tablet) {
    display: none;
    &.is-open {
      display: block;
    }
  }
}
.mmenu__nav {
  margin-top: 48px;
  margin-bottom: 0;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  list-style: none;
}
.mmenu__address {
  margin-top: auto;
  margin-bottom: 0;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  list-style: none;
}
.mmenu__social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: flex-start;
  list-style: none;
  margin-top: 64px;
  margin-bottom: 48px;
  padding-left: 40px;
}
.mmenu__nav-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mmenu__social-item {
  @extend %title__mmenu-social;
  &:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mmenu__address-item {
  text-align: left;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mmenu__address-phone {
  @extend %title__mmenu-phone;
  text-decoration: none;
}
.mmenu__address-mail {
  @extend %title__mmenu-mail;
  text-decoration: none;
}

.mmenu__link {
  @include animation(color);
  @extend %title__mmenu;
  display: block;
  text-decoration: none;
  &.current,
  &:hover,
  &:active,
  &:focus {
    color: $body-default-logo-color;
  }
}

.mmenu__link-social {
  @extend %title__mmenu-social;
  text-decoration: none;
  &:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &:hover,
  &:active,
  &:focus {
    color: $body-default-logo-color;
  }
}

.mmenu__icon-menu {
  @include animation(fill);
}
.mmenu__icon-close {
  @include animation(fill);
}

.mmenu__menu-button .mmenu__icon-close {
  display: none;
}
.mmenu__menu-button.is-open .mmenu__icon-close {
  display: block;
}
.mmenu__menu-button.is-open .mmenu__icon-menu {
  display: none;
}
