/* Секция "Особенности" */
.features {
  background-color: $body-default-background-color;
  padding-top: $section-padding-mobile;
  padding-bottom: $section-padding-mobile;
  @media screen and (min-width: $desktop) {
    padding-top: $section-padding-desktop;
    padding-bottom: $section-padding-desktop;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: -15px;
    list-style: none;
    @media screen and (min-width: $desktop) {
      flex-wrap: nowrap;
    }
  }
  .features__item {
    display: block;
    margin-top: 0;
    margin-bottom: 0px;
    width: calc((100% - 2 * 15px));
    @media screen and (max-width: 767px) {
      margin: 15px;
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }
    @media screen and (min-width: $desktop) {
      width: calc((100% - 8 * 15px) / 4);
      margin: 15px;
    }
  }
  .features__title {
    @extend %title__header-h3;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width: $tablet) {
      text-align: left;
    }
  }
  .features__text {
    @extend %title__text;
    margin-top: 0;
    margin-bottom: 0;
  }
  .features__icon {
    width: 70px;
    height: 70px;
    fill: $body-default-header-color;
  }
  .features__view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: $body-light-background-color;
    border-radius: 4px;
  }
}
