/* Секция "Наша команда" */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $body-light-background-color;

  .team__title {
    @extend %title__header-h2;
    margin-top: 0;
    margin-bottom: 50px;
  }
  .team__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .team__list img {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }
  .team__item {
    display: block;
    max-width: 270px;
    background-color: $body-default-background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .team__label {
    text-align: center;
    padding: 30px 20px 30px 20px;
  }
  .team__name {
    @extend %title__header-name;
    margin-top: 0;
    margin-bottom: 0;
  }
  .team__text {
    @extend %title__text-label;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .team__list-social {
    display: inline-flex;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
    margin-top: 16px;
    margin-bottom: 0;
  }
  .team__link-social {
    @include animation(background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    &:hover .team__icon,
    &:active .team__icon,
    &:focus .team__icon {
      fill: $body-light-text-color;
    }
    &:hover,
    &:active,
    &:focus {
      background-color: $body-default-logo-color;
    }
  }
  .team__item-social:not(:last-child) {
    margin-right: 10px;
  }
  .team__icon {
    @include animation(fill);
    fill: $body-default-icon-color;
  }
}
