%title__logo {
  color: $body-default-logo-color;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
%title__navigation {
  color: $body-default-header-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
%title__address {
  color: $body-default-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

%title__logo {
  color: $body-default-logo-color;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
%title__navigation {
  color: $body-default-header-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}
%title__header-h1 {
  color: $body-light-text-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
%title__header-h2 {
  color: $body-default-header-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
%title__header-h3 {
  color: $body-default-header-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
%title__header-light {
  color: $body-light-text-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
%title__header-name {
  color: $body-default-header-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
%title__text {
  font-style: normal;
  color: $body-default-text-color;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
%title__text-label {
  color: $body-default-text-color;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
%title__description {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: $body-default-background-color;
}
%title__header-about {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: $body-default-header-color;
}
%title__header-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $body-default-header-color;
}
%title__text-about {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $body-default-text-color;
}
%title__input {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: $footer-text-color;
}
%title__button {
  color: $body-light-text-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
%title__button-light {
  color: $body-default-header-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
